<div>
    <form novalidate="novalidate" id="FormPatientPayment" data-componentid="FormPatientPayment" class="x-formpanel x-panel x-container x-component x-noborder-trbl col-large-offSet-3 col-medium-offSet-3 col-small-offSet-1 smallTenColumn xsmallTwelveColumn mediumSixColumn largeSixColumn x-header-position-top x-managed-borders x-layout-auto-item" data-xid="42">
        <div class="x-body-wrap-el x-formpanel-body-wrap-el x-panel-body-wrap-el x-container-body-wrap-el x-component-body-wrap-el" id="ext-element-100">
            <div class="x-body-el x-formpanel-body-el x-panel-body-el x-container-body-el x-component-body-el x-layout-auto x-noborder-trbl" id="ext-element-101" style="border-width: 0px;">
                <div id="ValidationSummary" data-componentid="ValidationSummary" class="x-container x-component x-hidden x-hidden-display ErrorBox x-container-ErrorBox x-component-ErrorBox x-layout-auto-item" data-xid="43">
                    <div class="x-body-el x-container-body-el x-component-body-el x-layout-auto x-container-ErrorBox-body-el x-component-ErrorBox-body-el" id="ext-element-102"></div>
                    <div id="ext-element-103">
  
                    </div>
  
                </div>
                <div class="x-unselectable x-paneltitle x-component x-text-align-left x-icon-align-left x-horizontal x-layout-auto-item" id="FormPatientPayment_paneltitle" data-componentid="FormPatientPayment_paneltitle" data-xid="44" data-gtm-vis-first-on-screen-8438944_47="2815" data-gtm-vis-total-visible-time-8438944_47="100" data-gtm-vis-has-fired-8438944_47="1">
                    <div class="x-body-el" id="ext-element-104"><div class="x-icon-el x-font-icon" id="ext-element-105"></div>
  <!--                        <div class="x-text-el" id="ext-element-106" data-title="Patient Information">Patient Payment Information</div></div>-->
                            <div class="x-text-el" id="ext-element-106" data-title="Patient Information" style="font-size: 26px;padding-bottom: 10px;">Payment for Arun, Kumar</div></div>
                </div>
                <hr style="margin-bottom: 0px;margin-top: 0px;">
                <div id="FormPatientPayment_PatientPaymentPatientInfoMultiARDataView" data-componentid="FormPatientPayment_PatientPaymentPatientInfoMultiARDataView" class="x-container x-component x-layout-auto-item" data-xid="45">
                    <div class="x-body-el x-container-body-el x-component-body-el x-layout-auto" id="ext-element-107">
                        <div class="x-innerhtml" id="ext-element-108">            
                        </div>
  
                    </div>
  
                </div>
                <h3 class="header smaller black" style="margin-bottom: 0px;">
                    <!--                										<i class="ace-icon fa fa-heart red"></i>-->
                    <b>Dallas Renal Group, PA</b>
                </h3> 
                <div class="x-no-min-content  x-field x-component x-body-align-start x-label-text-align-left x-labeled  x-label-align-top x-label-align-vertical x-error-target-under im-display-field payment-flow x-field-payment-flow x-component-payment-flow x-layout-auto-item" id="FormPatientPayment_PatientBalance" data-componentid="FormPatientPayment_PatientBalance" data-xid="46">
                    <label class="x-label-el" id="ext-element-110" for="ext-element-111">
                        <span class="x-label-text-el" id="ext-element-112"><font style="font-size: 18px;"><b>Balance</b></font> </span>
                    </label>          
                    <div class="" id="ext-element-113">
                        <label class="price" style="margin-left: 0px;margin-top: 10px;"><font style="color:#1dab35;">$ 600.00</font></label>
                        <!--                        <div class="x-body-el" id="ext-element-109">
                                                    <label class="x-label" id="ext-element-111">
                                                        <div class="x-innerhtml">
                                                           $500 
                                                        </div>
                                                    </label>
                                                    
                                                        
                                                </div>-->
                        <div class="x-error-el" id="ext-element-114">
                            <div class="x-error-icon-el x-font-icon" id="ext-element-115">
  
                            </div>
                            <div class="x-error-message-el" id="ext-element-116">
  
                            </div>
  
                        </div>
  
                    </div>
  
                </div>
                <label class="x-label-el" id="ext-element-110" for="ext-element-111">
                    <span class="x-label-text-el" id="ext-element-112"><font style="font-size: 18px;"><b>Patient Information</b></font> </span>
                    </label>
                <hr style="margin-top: 0px;margin-bottom: 5px;">
                <div data-componentid="FormPatientPayment_container" class="x-container x-component MultipleFieldsContainer x-layout-auto-item" data-xid="49" id="FormPatientPayment_container" style="height: 50px;">
                    <div class="x-body-el x-container-body-el x-component-body-el x-layout-box x-align-stretch x-pack-start x-layout-hbox x-horizontal" id="ext-element-141">
                        <div class="x-no-min-content x-textfield x-field x-component x-body-align-stretch x-label-text-align-left x-labeled x-empty x-required x-label-align-placeholder x-label-align-vertical x-error-target-under x-layout-box-item x-flexed x-label-inside x-layout-hbox-item" data-componentid="FormPatientPayment_PatientFirstName" data-xid="50" id="FormPatientPayment_PatientFirstName" style="flex: 1 1 0%;">
                            <label class="x-label-el" id="ext-element-110" for="ext-element-111">
                                <span class="x-label-text-el" id="ext-element-112" style="font-size: 15px;">Name: </span>
                            </label>
                            <div class="x-body-wrap-el" id="ext-element-113">
                                <div class="x-body-el" id="ext-element-109">
                                    <label class="x-label" id="ext-element-111">
                                        <div class="x-innerhtml" style="font-size: 15px;">
                                            <b>Arun Kumar</b> 
                                        </div>
                                    </label>
  
                                </div>
                                <div class="x-error-el" id="ext-element-114">
                                    <div class="x-error-icon-el x-font-icon" id="ext-element-115">
  
                                    </div>
                                    <div class="x-error-message-el" id="ext-element-116">
  
                                    </div>
  
                                </div>
  
                            </div>                                                        
                        </div>
                        <div data-componentid="FormPatientPayment_PatientFirstNamePatientLastNameSpacer" class="x-container x-component x-widthed x-spacer x-layout-box-item x-layout-hbox-item" data-xid="51" id="FormPatientPayment_PatientFirstNamePatientLastNameSpacer" style="width: 24px;">
                            <div class="x-body-el x-container-body-el x-component-body-el x-layout-auto" id="ext-element-148">
  
                            </div>
  
                        </div>
                        <div class="x-no-min-content x-textfield x-field x-component x-body-align-stretch x-label-text-align-left x-labeled x-empty x-required x-label-align-placeholder x-label-align-vertical x-error-target-under x-layout-box-item x-flexed x-label-inside x-layout-hbox-item" data-componentid="FormPatientPayment_PatientLastName" data-xid="52" id="FormPatientPayment_PatientLastName" style="flex: 1 1 0%;">
                            <label class="x-label-el" id="ext-element-110" for="ext-element-111">
                                <span class="x-label-text-el" id="ext-element-112" style="font-size: 15px;">MRN: </span>
                            </label>
                            <div class="x-body-wrap-el" id="ext-element-113">
                                <div class="x-body-el" id="ext-element-109">
                                    <label class="x-label" id="ext-element-111">
                                        <div class="x-innerhtml" style="font-size: 15px;">
                                            <b>48575 </b>
                                        </div>
                                    </label>
  
                                </div>
                                <div class="x-error-el" id="ext-element-114">
                                    <div class="x-error-icon-el x-font-icon" id="ext-element-115">
  
                                    </div>
                                    <div class="x-error-message-el" id="ext-element-116">
  
                                    </div>
  
                                </div>
  
                            </div>
  
  
                        </div>
  
                    </div>
  
                </div>
  
                <div data-componentid="FormPatientPayment_container" class="x-container x-component MultipleFieldsContainer x-layout-auto-item" data-xid="49" id="FormPatientPayment_container" style="height: 50px;top: 15px;">
                    <div class="x-body-el x-container-body-el x-component-body-el x-layout-box x-align-stretch x-pack-start x-layout-hbox x-horizontal" id="ext-element-141">
                        <div class="x-no-min-content x-textfield x-field x-component x-body-align-stretch x-label-text-align-left x-labeled x-empty x-required x-label-align-placeholder x-label-align-vertical x-error-target-under x-layout-box-item x-flexed x-label-inside x-layout-hbox-item" data-componentid="FormPatientPayment_PatientFirstName" data-xid="50" id="FormPatientPayment_PatientFirstName" style="flex: 1 1 0%;">
                            <label class="x-label-el" id="ext-element-110" for="ext-element-111">
                                <span class="x-label-text-el" id="ext-element-112" style="font-size: 15px;">Email: </span>
                            </label>
                            <div class="x-body-wrap-el" id="ext-element-113">
                                <div class="x-body-el" id="ext-element-109">
                                    <label class="x-label" id="ext-element-111">
                                        <div class="x-innerhtml" style="font-size: 15px;">
                                            <b>ArunTest@gmail.com</b>
                                        </div>
                                    </label>
  
                                </div>
                                <div class="x-error-el" id="ext-element-114">
                                    <div class="x-error-icon-el x-font-icon" id="ext-element-115">
  
                                    </div>
                                    <div class="x-error-message-el" id="ext-element-116">
  
                                    </div>
  
                                </div>
  
                            </div>                                                        
                        </div>
                        <div data-componentid="FormPatientPayment_PatientFirstNamePatientLastNameSpacer" class="x-container x-component x-widthed x-spacer x-layout-box-item x-layout-hbox-item" data-xid="51" id="FormPatientPayment_PatientFirstNamePatientLastNameSpacer" style="width: 24px;">
                            <div class="x-body-el x-container-body-el x-component-body-el x-layout-auto" id="ext-element-148">
  
                            </div>
  
                        </div>
                        <div class="x-no-min-content x-textfield x-field x-component x-body-align-stretch x-label-text-align-left x-labeled x-empty x-required x-label-align-placeholder x-label-align-vertical x-error-target-under x-layout-box-item x-flexed x-label-inside x-layout-hbox-item" data-componentid="FormPatientPayment_PatientLastName" data-xid="52" id="FormPatientPayment_PatientLastName" style="flex: 1 1 0%;">
                            <label class="x-label-el" id="ext-element-110" for="ext-element-111">
                                <span class="x-label-text-el" id="ext-element-112" style="font-size: 15px;">Phone: </span>
                            </label>
                            <div class="x-body-wrap-el" id="ext-element-113">
                                <div class="x-body-el" id="ext-element-109">
                                    <label class="x-label" id="ext-element-111">
                                        <div class="x-innerhtml" style="font-size: 15px;">
                                            <b>9450078641 </b>
                                        </div>
                                    </label>
  
                                </div>
                                <div class="x-error-el" id="ext-element-114">
                                    <div class="x-error-icon-el x-font-icon" id="ext-element-115">
  
                                    </div>
                                    <div class="x-error-message-el" id="ext-element-116">
  
                                    </div>
  
                                </div>
  
                            </div>
  
  
                        </div>
  
                    </div>
  
                </div>
  
  
                <div class="x-no-min-content  x-textfield x-field x-component x-body-align-stretch x-label-text-align-left x-labeled x-required x-label-align-placeholder x-label-align-vertical x-error-target-under x-empty x-layout-auto-item x-label-inside" id="FormPatientPayment_Amount" data-componentid="FormPatientPayment_Amount" data-xid="47">
                    <!--                    <label class="x-label-el" id="ext-element-119" for="ext-element-117" style="transform: translateX(0px) translateY(22px); font-size: 13px;"><span class="x-label-text-el" id="ext-element-120">Amount</span>
                                        </label>-->
                    <div class="x-body-wrap-el" id="ext-element-121">
                        <div class="x-body-el" id="ext-element-118">
                            <div class="x-input-wrap-el" id="ext-element-122">
                                <div class="x-before-input-el" id="ext-element-123">
  
                                </div>
                                <!--                                <input tabindex="0"  placeholder="Amount" class="" id="ext-element-117" type="text" maxlength="12" autocomplete="off" autocorrect="off" aria-label="Amount" aria-describedby="ext-element-120" aria-required="true" name="Amount" aria-readonly="false" data-componentid="FormPatientPayment_Amount" style="width: 710px;">-->
                                <div class="control-group">
  
  
                                    <div class="x-after-input-el" id="ext-element-124">
  
                                    </div>
  
                                </div>
                                <div class="x-underline-el" id="ext-element-125">
  
                                </div>
  
                            </div>
                            <div class="x-error-el" id="ext-element-126">
                                <div class="x-error-icon-el x-font-icon" id="ext-element-127">
  
                                </div>
                                <div class="x-error-message-el" id="ext-element-128">
  
                                </div>
  
                            </div>
  
                        </div>
  
                    </div>               
  <!--                    <div data-componentid="FormPatientPayment_container_4" class="x-container x-component buttonContainer x-layout-auto-item" data-xid="62" id="FormPatientPayment_container_4">
                        <div class="x-body-el x-container-body-el x-component-body-el x-layout-box x-pack-start x-align-end x-layout-hbox x-horizontal" id="ext-element-182">
                            <div  data-componentid="FormPatientPayment_button_Next" class="x-component x-button x-has-text action noprint x-icon-align-left x-arrow-align-right x-button-action x-component-action x-layout-box-item x-layout-hbox-item" data-xid="66" id="FormPatientPayment_button_Next">
                                <div class="x-inner-el" id="ext-element-195">
                                    <div class="x-body-el" id="ext-element-194"><div class="x-icon-el x-font-icon" id="ext-element-197"></div>
                                        <div class="x-text-el" id="ext-element-196">Make A Payment</div></div><div class="x-arrow-el x-font-icon"></div></div>
                                <div class="x-badge-el"></div><button  class="x-button-el" type="button" id="ext-element-193" aria-describedby="ext-element-196" data-componentid="FormPatientPayment_button_Next" href="#PaymentNow"></button>
                            </div>
                            <div data-componentid="FormPatientPayment_PatientFirstNamePatientLastNameSpacer" class="x-container x-component x-widthed x-spacer x-layout-box-item x-layout-hbox-item" data-xid="51" id="FormPatientPayment_PatientFirstNamePatientLastNameSpacer" style="width: 24px;">
                                <div class="x-body-el x-container-body-el x-component-body-el x-layout-auto" id="ext-element-148">
  
                                </div>
  
                            </div>
                            <div  data-componentid="FormPatientPayment_button_Next" class="x-component x-button x-has-text action noprint x-icon-align-left x-arrow-align-right x-button-action x-component-action x-layout-box-item x-layout-hbox-item" data-xid="66" id="FormPatientPayment_button_Next" style="margin-top: 5px;">
                                <div class="x-inner-el" id="ext-element-195">
                                    <div class="x-body-el" id="ext-element-194"><div class="x-icon-el x-font-icon" id="ext-element-197"></div>
                                        <div class="x-text-el" id="ext-element-196">SETUP AUTOPAY</div></div><div class="x-arrow-el x-font-icon"></div></div>
                                <div class="x-badge-el"></div><button   class="x-button-el" type="button" id="ext-element-194" aria-describedby="ext-element-196" data-componentid="FormPatientPayment_button_Next" ></button>
                            </div>
                        </div>
                    </div>-->
                    <div style="margin-top: 10px;">
                        <div class="pull-right">
                                    <div  data-componentid="FormPatientPayment_button_Back" class="hidden x-component x-button x-has-text secondary noprint x-icon-align-left x-arrow-align-right x-button-secondary x-component-secondary x-layout-box-item x-layout-hbox-item" data-xid="65" id="FormPatientPayment_button_Back"><div class="x-inner-el" id="ext-element-190"><div class="x-body-el" id="ext-element-189"><div class="x-icon-el x-font-icon" id="ext-element-192"></div><div class="x-text-el" id="ext-element-191">Back</div>
                                
                                </div><div class="x-arrow-el x-font-icon"></div></div><div class="x-badge-el"></div><button  class="x-button-el" type="button" id="ext-element-188" aria-describedby="ext-element-191" data-componentid="FormPatientPayment_button_Back"></button></div>
                                    <div  data-componentid="FormPatientPayment_button_Next" class="x-component x-button x-has-text action noprint x-icon-align-left x-arrow-align-right x-button-action x-component-action x-layout-box-item x-layout-hbox-item" data-xid="66" id="FormPatientPayment_button_Next">
                                        <div class="x-inner-el" id="ext-element-195">
                                            <div class="x-body-el" id="ext-element-194"><div class="x-icon-el x-font-icon" id="ext-element-197"></div>
                                                <div class="x-text-el" id="ext-element-196">PAY NOW</div></div><div class="x-arrow-el x-font-icon"></div></div>
                                        <div class="x-badge-el"></div><button (click)="this.goToPaymentnow($event)"  class="x-button-el" type="button" id="ext-element-193" aria-describedby="ext-element-196" data-componentid="FormPatientPayment_button_Next"></button>
                                    </div>
                        <div  data-componentid="FormPatientPayment_button_Next" class="  x-component x-button x-has-text action noprint x-icon-align-left x-arrow-align-right x-button-action x-component-action x-layout-box-item x-layout-hbox-item" data-xid="66" id="FormPatientPayment_button_Next" style="margin-top: 5px;">
                                        <div class="x-inner-el" id="ext-element-195">
                                            <div class="x-body-el" id="ext-element-194"><div class="x-icon-el x-font-icon" id="ext-element-197"></div>
                                                <div class="x-text-el " id="ext-element-196">SETUP AUTOPAY</div></div><div class="x-arrow-el x-font-icon"></div></div>
                                        <div class="x-badge-el"></div><button (click)="this.goToautopay($event)" class="x-button-el" type="button" id="ext-element-194" aria-describedby="ext-element-196" data-componentid="FormPatientPayment_button_Next"></button>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" class="x-hidden-submit">
            
        </div>
