<div id="navbar" class="navbar navbar-default navbar-collapse h-navbar">
    <div class="navbar-container" id="navbar-container">
        <div class="col-sm-4">
            <img src="./../../assets/img/Iris-Health-Small.png" alt="Iris-Health" style="padding-top: 6px;padding-bottom: 4px;">
        </div>
        <div class="navbar-header pull-left col-sm-8 ">
            <a class="navbar-brand" style="float:right">
                <!--<div class="hidden-xs">Patient Portal</div>-->
                <div class="af-name-head" style="padding-top:9px;padding-bottom: 4px;">
                    <!--<img src="js/lib/others/Iris-Health.jpg" alt="Iris-Health" style="width:304px;height:50px">-->

                    
                    <span id="ClinicNameSpan">Patient Payment Portal</span>
                </div>
            </a>
        </div>
    </div>
  </div>
<div id="navbarMobile" class="navbar navbar-default navbar-collapse h-navbar hidden">
    <div class="navbar-container col-xs-12 col-sm-12 col-lg-12" id="navbar-container" style="padding-left: 0px">
        <div class="col-xs-3 col-sm-3 col-lg-3">
            <img src="./../../assets/js/lib/others/Iris-Health-Logo.png" alt="Iris-Health" style="padding-top: 6px;padding-bottom: 4px;">
        </div>
        <div class="col-xs-9 col-sm-9 col-lg-9" style="padding-top: 10px">
               
            <span id="ClinicNameSpan" style="font-size: 20px;color: white">Rounding Web App</span>
 

        </div>
    </div>
  </div>


  <div class="main-container" id="main-container" >
      <div id="content" class="container" style="margin-right: 0px;">

       <div class="row" >
         <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
            <div class="box2 clearfix" style="height: 20px;">
                <h2 style="margin:0; padding:0px; text-align:left;"></h2>
        <h1 style="margin:0; padding:0px; text-align:left;"></h1>
                                            <div class="w3-content w3-section" style="max-width:500px">
<!--                                                <img class="mySlides" src="styles/img/LoginPayment1.jpg" style="width:100%">
                                            <img class="mySlides" src="styles/img/Phone_Large_Cropped.png" style="width:100%">
                                            <img class="mySlides" src="styles/img/30461.jpg" style="width:100%">
                                            <img class="mySlides" src="styles/img/30461.jpg" style="width:100%">-->
                                            </div>
<!--						<img class="app-screenshot" src="styles/img/LoginPayment1.jpg" style="width: 500px;">-->
        <div class="clearfix" style="display: inline-block;  padding: 20px 0px 4px;">
          
    </div>
<!--						<h4>Paying your healthcare bills is easier than ever</h4>-->
              </div>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">

          </div>
        </div>
      </div>
  </div>
<form novalidate="novalidate" id="MyFormPanel" data-componentid="MyFormPanel" class="x-formpanel x-panel x-container x-component x-noborder-trbl col-large-offSet-1 smallSixColumn xsmallTwelveColumn mediumFourColumn col-medium-offSet-1 largeFourColumn x-header-position-top x-managed-borders x-layout-auto-item pull-right" data-xid="42">
  <div class="x-body-wrap-el x-formpanel-body-wrap-el x-panel-body-wrap-el x-container-body-wrap-el x-component-body-wrap-el" id="ext-element-100">
  <div class="x-body-el x-formpanel-body-el x-panel-body-el x-container-body-el x-component-body-el x-layout-auto x-noborder-trbl" id="ext-element-101" style="border-width: 0px;">
      <div data-componentid="MyFormPanel_container" style="padding-bottom: 5px;" class="x-container x-component BottomBorder x-layout-auto-item" data-xid="43" id="MyFormPanel_container">
          <div class="x-body-el x-container-body-el x-component-body-el x-layout-auto" id="ext-element-102">
            
              <div data-componentid="MyFormPanel_container_3" class="x-container x-component x-center-helper x-layout-auto-item" data-xid="53" id="MyFormPanel_container_3">
                  <div class="x-body-el x-container-body-el x-component-body-el x-layout-box x-pack-center x-layout-hbox x-horizontal x-align-stretch" id="ext-element-115">
                      <div data-componentid="MyFormPanel_spacer_4" class="x-component x-layout-box-item x-layout-hbox-item x-flexed" data-xid="54" id="MyFormPanel_spacer_4" style="flex: 1 1 0%;"></div>
                      <div class="x-unselectable x-paneltitle x-component x-text-align-left x-icon-align-left x-horizontal headline-font x-paneltitle-headline-font x-component-headline-font x-layout-box-item x-layout-hbox-item" data-componentid="MyFormPanel_paneltitle_1" data-xid="55" id="MyFormPanel_paneltitle_1">
                          <div class="x-body-el" id="ext-element-116">
                              <div class="x-icon-el x-font-icon"></div>
                              <div class="x-text-el" id="ext-element-117" data-title="Log In">Log In</div>
        
                          </div>
        
                      </div>
                      <div data-componentid="MyFormPanel_spacer_5" class="x-component x-layout-box-item x-layout-hbox-item x-flexed" data-xid="56" id="MyFormPanel_spacer_5" style="flex: 1 1 0%;"></div>
        
                  </div>
        
              </div> 

          </div>

      </div>
      <div id="ValidationSummary" data-componentid="ValidationSummary" class="x-container x-component x-hidden x-hidden-display ErrorBox x-container-ErrorBox x-component-ErrorBox x-layout-auto-item" data-xid="52">
          <div class="x-body-el x-container-body-el x-component-body-el x-layout-auto x-container-ErrorBox-body-el x-component-ErrorBox-body-el" id="ext-element-113">
              
          </div>
          <div id="ext-element-114"></div>
              
      </div>

      <div class="x-no-min-content x-textfield x-field x-component x-body-align-stretch x-label-text-align-left x-labeled x-empty x-label-align-placeholder x-label-align-vertical x-error-target-under x-layout-auto-item x-label-inside" data-componentid="FormPatientPayment_PatientMiddleName" data-xid="53" id="FormPatientPayment_PatientMiddleName" style=" margin-top: 15px;">                     
          <div class="form-group">
              <label for="First"><b>Clinic:</b></label>
              <select class="form-control"  id="paymentClinics">
                  <option selected disabled="">Select Clinic</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                   <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                   <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                   <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                   <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                   <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                   <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                  
              </select>
              <!--<label style="margin-left: 10px;"><a href="javascript:void(0)" role="button" title="Please select a clinic"><i class="menu-icon fa fa-info-circle blue" style="padding-left: 0px;" id="LongQuestion_7"></i></a></label>-->
          </div>
          
          <div class="form-group">
              <label for="Last"><b>MRN:</b></label>
            <input type="text" class="form-control" id="LastName" autocomplete="off">
          </div>
        <div class="form-group">
            <label for="Address"><b>Date of birth:</b></label>
            <input type="text" class="form-control" id="Address" autocomplete="off">
          </div>
          <div class="form-group">
              <label for="email"><b>Email:</b></label>
            <input type="email" class="form-control" id="pEmailwd" autocomplete="off">
          </div>  
         </div>
     
      <div data-componentid="MyFormPanel_container_4" class="x-container x-component buttonContainer hiddenxs hiddensm hiddenmd x-layout-auto-item" data-xid="60" id="MyFormPanel_container_4">
          <div class="x-body-el x-container-body-el x-component-body-el x-layout-box x-pack-start x-align-end x-layout-hbox x-horizontal" id="ext-element-143">
            <!--<div onclick="return Ext.doEv(this, event);" data-componentid="MyFormPanel_button_ForgotPassword" class="x-component x-button x-has-text x-button-link-style blue noprint x-icon-align-left x-arrow-align-right x-button-blue x-component-blue x-layout-box-item x-layout-hbox-item" data-xid="61" id="MyFormPanel_button_ForgotPassword">
                  <div class="x-inner-el" id="ext-element-146">
                      <div class="x-body-el" id="ext-element-145">
                          <div class="x-icon-el x-font-icon" id="ext-element-148"></div>
                          <div class="x-text-el" id="ext-element-147">Forgot Password?</div>

                      </div>
                      <div class="x-arrow-el x-font-icon"></div>

                  </div>
                  <div class="x-badge-el"></div>
                  <button onfocus="return Ext.doEv(this, event);" onblur="return Ext.doEv(this, event);" class="x-button-el" type="button" id="ext-element-144" aria-describedby="ext-element-147" data-componentid="MyFormPanel_button_ForgotPassword"></button>
              </div>-->
              <div data-componentid="MyFormPanel_spacer_6" class="x-component x-layout-box-item x-layout-hbox-item x-flexed" data-xid="62" id="MyFormPanel_spacer_6" style="flex: 1 1 0%;"></div>
              <div onclick="return Ext.doEv(this, event);" data-componentid="MyFormPanel_button_SignUp" class="x-component x-button x-has-text secondary noprint x-icon-align-left x-arrow-align-right x-button-secondary x-component-secondary x-layout-box-item x-layout-hbox-item" data-xid="63" id="MyFormPanel_button_SignUp">
                  <div class="x-inner-el" id="ext-element-151">
                      <div class="x-body-el" id="ext-element-150">
                          <div class="x-icon-el x-font-icon" id="ext-element-153"></div>
                          <div class="x-text-el" id="ext-element-152">Sign Up</div>

                      </div>
                      <div class="x-arrow-el x-font-icon"></div>

                  </div>
                  <div class="x-badge-el"></div>
                  <button onfocus="return Ext.doEv(this, event);" onblur="return Ext.doEv(this, event);" class="x-button-el" type="button" id="ext-element-149" aria-describedby="ext-element-152" data-componentid="MyFormPanel_button_SignUp"></button>
              </div>
              <div onclick="return Ext.doEv(this, event);" data-componentid="MyFormPanel_button_LogIn" class="x-component x-button x-has-text action noprint x-icon-align-left x-arrow-align-right x-button-action x-component-action x-layout-box-item x-layout-hbox-item" data-xid="64" id="MyFormPanel_button_LogIn">
                  <div class="x-inner-el" id="ext-element-156"><div class="x-body-el" id="ext-element-155"><div class="x-icon-el x-font-icon" id="ext-element-158"></div>
                          <div class="x-text-el" id="ext-element-157">Log In</div>

                      </div>
                      <div class="x-arrow-el x-font-icon">

                      </div>

                  </div>
                  <div class="x-badge-el">

                  </div>
                  <button onfocus="return Ext.doEv(this, event);" onblur="return Ext.doEv(this, event);" class="x-button-el" type="button" id="ext-element-154" aria-describedby="ext-element-157" data-componentid="MyFormPanel_button_LogIn">

                  </button>
              </div>
          </div>
      </div>
      <div data-componentid="MyFormPanel_container_5" class="x-container x-component x-center-helper x-layout-auto-item" data-xid="65" id="MyFormPanel_container_5">
          <div class="x-body-el x-container-body-el x-component-body-el x-layout-box x-pack-center x-layout-hbox x-horizontal x-align-stretch" id="ext-element-159">
              <div data-componentid="MyFormPanel_spacer_7" class="x-component x-layout-box-item x-layout-hbox-item x-flexed" data-xid="66" id="MyFormPanel_spacer_7" style="flex: 1 1 0%;"></div>
              <div onclick="return Ext.doEv(this, event);" data-componentid="MyFormPanel_button_LogIn_1" class="x-component x-button x-has-text x-button-wide hiddenlg action noprint x-icon-align-left x-arrow-align-right x-button-action x-component-action x-layout-box-item x-layout-hbox-item" data-xid="67" id="MyFormPanel_button_LogIn_1">
                  <div class="x-inner-el" id="ext-element-162">
                      <div class="x-body-el" id="ext-element-161">
                          <div class="x-icon-el x-font-icon" id="ext-element-164"></div>
                          <div class="x-text-el" id="ext-element-163">Log In</div>

                      </div>
                      <div class="x-arrow-el x-font-icon">

                      </div>

                  </div>
                  <div class="x-badge-el"></div>
                  <button onfocus="return Ext.doEv(this, event);" onblur="return Ext.doEv(this, event);" class="x-button-el" type="button" id="ext-element-160" aria-describedby="ext-element-163" data-componentid="MyFormPanel_button_LogIn_1"></button>
              </div>
              <div data-componentid="MyFormPanel_spacer_8" class="x-component x-layout-box-item x-layout-hbox-item x-flexed" data-xid="68" id="MyFormPanel_spacer_8" style="flex: 1 1 0%;">

              </div>

          </div>

      </div>
      <div data-componentid="MyFormPanel_container_6" class="x-container x-component buttonContainer hiddenlg x-layout-auto-item" data-xid="69" id="MyFormPanel_container_6">
          <div class="x-body-el x-container-body-el x-component-body-el x-layout-box x-pack-start x-align-end x-layout-hbox x-horizontal" id="ext-element-165">
              <div onclick="return Ext.doEv(this, event);" data-componentid="MyFormPanel_button_ForgotPassword_1" class="x-component x-button x-has-text x-button-link-style blue noprint x-icon-align-left x-arrow-align-right x-button-blue x-component-blue x-layout-box-item x-layout-hbox-item" data-xid="70" id="MyFormPanel_button_ForgotPassword_1">
                  <div class="x-inner-el" id="ext-element-168">
                      <div class="x-body-el" id="ext-element-167">
                          <div class="x-icon-el x-font-icon" id="ext-element-170"></div>
                          <div class="x-text-el" id="ext-element-169">Forgot Password?</div>

                      </div>
                      <div class="x-arrow-el x-font-icon"></div>

                  </div>
                  <div class="x-badge-el"></div>
                  <button onfocus="return Ext.doEv(this, event);" onblur="return Ext.doEv(this, event);" class="x-button-el" type="button" id="ext-element-166" aria-describedby="ext-element-169" data-componentid="MyFormPanel_button_ForgotPassword_1"></button></div>
              <div data-componentid="MyFormPanel_spacer_9" class="x-component x-layout-box-item x-layout-hbox-item x-flexed" data-xid="71" id="MyFormPanel_spacer_9" style="flex: 1 1 0%;"></div>
              <div onclick="return Ext.doEv(this, event);" data-componentid="MyFormPanel_button_SignUp_1" class="x-component x-button x-has-text secondary-as-primary noprint x-icon-align-left x-arrow-align-right x-button-secondary-as-primary x-component-secondary-as-primary x-layout-box-item x-layout-hbox-item" data-xid="72" id="MyFormPanel_button_SignUp_1">
                  <div class="x-inner-el" id="ext-element-173">
                      <div class="x-body-el" id="ext-element-172">
                          <div class="x-icon-el x-font-icon" id="ext-element-175"></div>
                          <div class="x-text-el" id="ext-element-174">Sign Up</div>

                      </div>
                      <div class="x-arrow-el x-font-icon">

                      </div>

                  </div>
                  <div class="x-badge-el">

                  </div>
                  <button onfocus="return Ext.doEv(this, event);" onblur="return Ext.doEv(this, event);" class="x-button-el" type="button" id="ext-element-171" aria-describedby="ext-element-174" data-componentid="MyFormPanel_button_SignUp_1">

                  </button>
              </div>
          </div>
      </div>
  </div>
</div>
<input type="submit" class="x-hidden-submit">
</form>