<div id="navbar" class="navbar navbar-default navbar-collapse h-navbar" style="height: 50px;">
    <div class="navbar-container" id="navbar-container">
        
        <div class="row af-head">
            <div class="col-md-4 col-sm-4 col-xs-7 col-lg-4 af-name-head " style="margin-top: 10px;">
                <i class="ace-icon fa fa-dollar-o hidden-xs"></i>
                <span style="font-size: 20px;color: white" id="masterHeading">&nbsp;Patient Payment Portal</span>
                <small class="hidden-xs"><span id="lblClinicName"></span></small>
                &nbsp;
          
            </div>
            
            <div class="col-md-6 col-sm-6 hidden-xs col-lg-6  af-name-head pull-right ">
                <div align="right">
                    <span class="YouAreLoggedInAs">      <h3 class=" white">
										<i class="ace-icon fa fa-hospital-o white"></i>
									 Dallas RenalGroup, PA
									                    <a href="#logout" title="Logout" style="margin-right: 15px;margin-left: 20px;" class="white tip-bottom pull-right">
                    <i class="ace-icon fa fa-power-off bigger-120"></i>
                    </a></h3> </span>
                    &nbsp;&nbsp;

                    
                </div>
            </div> 
        </div>
    </div>
</div>

<div class="main-container" id="main-container">
     <div id="main-content" class="main-content">
        <div class="page-content" id="pageContent" style="margin: 0px;padding: 0px;">  
            <div id="template_container">
                <router-outlet name="Home"></router-outlet>
            </div>
            
            <div id="rptAppointment">      
            </div>
        </div>
    </div>


    
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
         
</div>