<div>
        <form novalidate="novalidate" id="FormPatientPayment" data-componentid="FormPatientPayment" class="x-formpanel x-panel x-container x-component x-noborder-trbl col-large-offSet-3 col-medium-offSet-3 col-small-offSet-1 smallTenColumn xsmallTwelveColumn mediumSixColumn largeSixColumn x-header-position-top x-managed-borders x-layout-auto-item" data-xid="42">
            <div class="x-body-wrap-el x-formpanel-body-wrap-el x-panel-body-wrap-el x-container-body-wrap-el x-component-body-wrap-el" id="ext-element-100">
                <div class="x-body-el x-formpanel-body-el x-panel-body-el x-container-body-el x-component-body-el x-layout-auto x-noborder-trbl" id="ext-element-101" style="border-width: 0px;">
                    <div id="ValidationSummary" data-componentid="ValidationSummary" class="x-container x-component x-hidden x-hidden-display ErrorBox x-container-ErrorBox x-component-ErrorBox x-layout-auto-item" data-xid="43">
                        <div class="x-body-el x-container-body-el x-component-body-el x-layout-auto x-container-ErrorBox-body-el x-component-ErrorBox-body-el" id="ext-element-102"></div>
                        <div id="ext-element-103">
    
                        </div>
    
                    </div>
                    <div class="x-unselectable x-paneltitle x-component x-text-align-left x-icon-align-left x-horizontal x-layout-auto-item" id="FormPatientPayment_paneltitle" data-componentid="FormPatientPayment_paneltitle" data-xid="44" data-gtm-vis-first-on-screen-8438944_47="2815" data-gtm-vis-total-visible-time-8438944_47="100" data-gtm-vis-has-fired-8438944_47="1">
                        <div class="x-body-el" id="ext-element-104"><div class="x-icon-el x-font-icon" id="ext-element-105"></div>
                            <div class="x-text-el" id="ext-element-106" data-title="Patient Information" style="font-size: 26px;padding-bottom: 10px;">Make Payment</div></div>
    
                    </div>
                    <hr style="margin-bottom: 0px;margin-top: 0px;">
                    <div id="FormPatientPayment_PatientPaymentPatientInfoMultiARDataView" data-componentid="FormPatientPayment_PatientPaymentPatientInfoMultiARDataView" class="x-container x-component x-layout-auto-item" data-xid="45">
                        <div class="x-body-el x-container-body-el x-component-body-el x-layout-auto" id="ext-element-107">
                            <div class="x-innerhtml" id="ext-element-108">            
                            </div>
    
                        </div>
    
                    </div>
    
                    <div class="x-no-min-content  x-textfield x-field x-component x-body-align-stretch x-label-text-align-left x-labeled x-required x-label-align-placeholder x-label-align-vertical x-error-target-under x-empty x-layout-auto-item x-label-inside" id="FormPatientPayment_Amount" data-componentid="FormPatientPayment_Amount" data-xid="47">
                        <!--                    <label class="x-label-el" id="ext-element-119" for="ext-element-117" style="transform: translateX(0px) translateY(22px); font-size: 13px;"><span class="x-label-text-el" id="ext-element-120">Amount</span>
                                            </label>-->
                        <div class="x-body-wrap-el" id="ext-element-121" style="height: 350px;">
                            <div class="x-body-el" id="ext-element-118">
                                <div class="x-input-wrap-el" id="ext-element-122">
                                    <div class="x-before-input-el" id="ext-element-123">
    
                                    </div>
                                    <div id="form-container"  style="top: 10px;bottom: 0px;margin-left: 50px;margin-top: 135px;">
                            <div id="sq-ccbox">
                                <!--<div id="loadingTmp">
                                    <div class="message-loading-overlay tmplLoading"><i class="fa-spin ace-icon fa fa-spinner orange2 bigger-300"></i></div>
                                </div>-->
                                                            
                                
                                <form id="nonce-form" novalidate action="javascript:void(0);"  method="">
                                    <fieldset>
                                        <span class="" style="font-size: 14px;font-weight: 500;line-height: 24px;letter-spacing: 0.5;text-transform: uppercase;">Card Number</span>
                                        <div id="sq-card-number"></div>
    
                                        <div class="third">
                                            <span class="" style="font-size: 14px;font-weight: 500;line-height: 24px;letter-spacing: 0.5;text-transform: uppercase;">Expiration</span>
                                            <div id="sq-expiration-date"></div>
                                        </div>
    
                                        <div class="third">
                                            <span class="" style="font-size: 14px;font-weight: 500;line-height: 24px;letter-spacing: 0.5;text-transform: uppercase;">CVV</span>
                                            <div id="sq-cvv"></div>
                                        </div>
    
                                        <div class="third">
                                            <span class="" style="font-size: 14px;font-weight: 500;line-height: 24px;letter-spacing: 0.5;text-transform: uppercase;">Postal</span>
                                            <div id="sq-postal-code"></div>
                                        </div>
                                    </fieldset>
    
                                          <button id="sq-creditcard" class="button-credit-card " onclick="requestCardNonce(event)">Pay $600.00</button>
    
                                    <div id="error"></div>
    
                                    
                                      
                                    
                                    <input type="hidden" id="card-nonce" name="nonce">
                                </form>
                            </div>  
    
                        </div> 
                    </div>
                                    <!--                                <input tabindex="0"  placeholder="Amount" class="" id="ext-element-117" type="text" maxlength="12" autocomplete="off" autocorrect="off" aria-label="Amount" aria-describedby="ext-element-120" aria-required="true" name="Amount" aria-readonly="false" data-componentid="FormPatientPayment_Amount" style="width: 710px;">-->
                                    <div class="control-group">
    
    
                                        <div class="x-after-input-el" id="ext-element-124">
    
                                        </div>
    
                                    </div>
                                    <div class="x-underline-el" id="ext-element-125">
    
                                    </div>
    
                                </div>
                                <div class="x-error-el" id="ext-element-126">
                                    <div class="x-error-icon-el x-font-icon" id="ext-element-127">
    
                                    </div>
                                    <div class="x-error-message-el" id="ext-element-128">
    
                                    </div>
    
                                </div>
    
                            </div>
                        <div style="margin-top: 5px;">
                            <div class="pull-right">
                                        <div  data-componentid="FormPatientPayment_button_Back" class="hidden x-component x-button x-has-text secondary noprint x-icon-align-left x-arrow-align-right x-button-secondary x-component-secondary x-layout-box-item x-layout-hbox-item" data-xid="65" id="FormPatientPayment_button_Back"><div class="x-inner-el" id="ext-element-190"><div class="x-body-el" id="ext-element-189"><div class="x-icon-el x-font-icon" id="ext-element-192"></div><div class="x-text-el" id="ext-element-191">Back</div>
                                    
                                    </div><div class="x-arrow-el x-font-icon"></div></div><div class="x-badge-el"></div><button  class="x-button-el" type="button" id="ext-element-188" aria-describedby="ext-element-191" data-componentid="FormPatientPayment_button_Back"></button></div>
    
                            <div  data-componentid="FormPatientPayment_button_Next" class="  x-component x-button x-has-text action noprint x-icon-align-left x-arrow-align-right x-button-action x-component-action x-layout-box-item x-layout-hbox-item" data-xid="66" id="FormPatientPayment_button_Next" style="margin-top: 5px;">
                                            <div class="x-inner-el" id="ext-element-195">
                                                <div class="x-body-el" id="ext-element-194"><div class="x-icon-el x-font-icon" id="ext-element-197"></div>
                                                    <div class="x-text-el " id="ext-element-196">BACK</div></div><div class="x-arrow-el x-font-icon"></div></div>
                                            <div class="x-badge-el"></div><button on class="x-button-el" type="button" id="ext-element-188" aria-describedby="ext-element-196" data-componentid="FormPatientPayment_button_Next"></button>
                                        </div>
                            </div>
                        </div>
                        </div>               
    
                    </div>
                
                </div>
        </form>
             
            </div>
    <!--        <script type="text/javascript">
                if (SqPaymentForm.isSupportedBrowser()) {
                    paymentForm.build();
                    paymentForm.recalculateSize();
                }
    
            </script>-->
            <style>
                * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  color: #373F4A;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

iframe {
  margin: 0;
  padding: 0;
  border: 0;
}

button {
  border: 0;
}

hr {
  height: 1px;
  border: 0;
  background-color: #CCC;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}


#form-container {
  position: relative;
  width: 380px;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}

.label {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5;
  text-transform: uppercase;
}

.third {
  float: left;
  width: calc((100% - 32px) / 3);
  padding: 0;
  margin: 0 16px 16px 0;
}

.third:last-of-type {
  margin-right: 0;
}

/* Define how SqPaymentForm iframes should look */
.sq-input {
  box-sizing: border-box;
  border: 1px solid #E0E2E3;
  border-radius: 4px;
  outline-offset: -2px;
  display: inline-block;
  -webkit-transition: border-color .2s ease-in-out, background .2s ease-in-out;
     -moz-transition: border-color .2s ease-in-out, background .2s ease-in-out;
      -ms-transition: border-color .2s ease-in-out, background .2s ease-in-out;
          transition: border-color .2s ease-in-out, background .2s ease-in-out;
}

/* Define how SqPaymentForm iframes should look when they have focus */
.sq-input--focus {
  border: 1px solid #4A90E2;
  background-color: rgba(74,144,226,0.02);
}


/* Define how SqPaymentForm iframes should look when they contain invalid values */
.sq-input--error {
  border: 1px solid #E02F2F;
  background-color: rgba(244,47,47,0.02);
}

#sq-card-number {
  margin-bottom: 16px;
}

/* Customize the "Pay with Credit Card" button */
.button-credit-card {
  width: 100%;
  height: 56px;
  margin-top: 10px;
  background: #4A90E2;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0;
  text-align: center;
  -webkit-transition: background .2s ease-in-out;
     -moz-transition: background .2s ease-in-out;
      -ms-transition: background .2s ease-in-out;
          transition: background .2s ease-in-out;
}

.button-credit-card:hover {
  background-color: #4281CB;
}


#error {
  width: 100%;
  margin-top: 16px;
  font-size: 14px;
  color: red;
  font-weight: 500;
  text-align: center;
  opacity: 0.8;
}
            </style>